{% extends 'base-002.html' %}
{% block content %}

<section class="page-section about" id="architecture">
    <div class="container">

        <!-- Portfolio Section Heading -->
        <h2 class="cat-heading page-section-heading text-center text-uppercase text-secondary mb-0">Architecture</h2>
        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="">
                <i class=""></i>
            </div>
            <div class=""></div>
        </div>

    </div>
</section>

   
{% for photos in paddy_photodb %}
<div class="container-001">
    <!-- About Section Content -->

    <div class="row">

        <figure class="col-md-4">
            <div id="wrapper-002"> 
            
            <a href="{{ photos.url }}" class="hover">
          
                    <img alt="picture" src="{{ photos.url }}"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">{{photos.name}}</p>

            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper-002">
            <a href="{{ photos.url}}" class="hover">

                    <img alt="picture" src="{{ photos.url }}"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">{{photos.name}}</p>

            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper-002">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/stpaulschurch,haringey/007exterior_.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Property</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper-002">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/copyholdbarn,eastsussex/001copyhold__.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper-002">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/plascoch,anglesey/001plascoch__.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/hamstonehouse,surrey/008Hamstone__.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/sunlounge/002sunlounge_.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/somersethouse,london/002entrance_.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

        <figure class="col-md-4">
            <div id="wrapper">
                <a href="" class="hover">

                    <img alt="picture" src="static/img/portfolio/architecture/hastingscollege/002hastingscol__.jpg"
                        class="img-fluid"></a><br><br>
                <p class="text-002 lead">Construction</p>
            </div>
        </figure>

    </div>

  
    

</div>
  {% endfor %}
{% endblock %}