{% extends 'base.html' %}
{% block content %}
    <!-- Masthead -->
    <header>
        <style>
            .carousel {
                margin-top: 70px;
            }
        </style>
    </header>

    <!--Carousel Wrapper-->
    <div
        id="carousel-example-2"
        class="carousel slide carousel-fade z-depth-1-half"
        data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
            <li data-target="#carousel-example-2" data-slide-to="3"></li>
            <li data-target="#carousel-example-2" data-slide-to="4"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img
                        class="d-block w-100"
                        src="static/img/portfolio/architecture/copyholdbarn,eastsussex/002copyhold__.jpg"
                        alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive"></h3>
                        <p></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                        <img
                            class="d-block w-100"
                            src="static/img/portfolio/architecture/hastingscollege/008hastingscol__.jpg"
                            alt="Second slide">
                            <div class="mask rgba-black-light"></div>
                        </div>
                        <div class="carousel-caption">
                            <h3 class="h3-responsive"></h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                            <img
                                class="d-block w-100"
                                src="static/img/portfolio/architecture/somersethouse,london/009somersethouse_.jpg"
                                alt="Third slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive"></h3>
                                <p></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <!--Mask color-->
                            <div class="view">
                                <img
                                    class="d-block w-100"
                                    src="static/img/portfolio/commercial/VariousCommercial/004_.jpg"
                                    alt="Third slide">
                                    <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                    <h3 class="h3-responsive"></h3>
                                    <p></p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!--Mask color-->
                                <div class="view">
                                    <img
                                        class="d-block w-100"
                                        src="static/img/portfolio/commercial/woodbasedjoiners/002woodbase_.jpg"
                                        alt="Third slide">
                                        <div class="mask rgba-black-light"></div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h3 class="h3-responsive"></h3>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a
                                class="carousel-control-prev"
                                href="#carousel-example-2"
                                role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a
                                class="carousel-control-next"
                                href="#carousel-example-2"
                                role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                        <!-- Masthead Avatar Image -->
                        <img class="masthead-avatar mb-5" src="img/avataaars.svg" alt=""></div>
                    </header>

                    <!-- Portfolio Section -->
                    <section class="page-section about" id="about">
                        <div class="container">

                            <!-- Portfolio Section Heading -->
                            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About</h2>

                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="">
                                    <i class=""></i>
                                </div>
                                <div class=""></div>
                            </div>
                            <br>
                                <br>

                                    <!-- About Section Content -->
                                    <div class="row">
                                        <div class="col-lg-4 ml-auto">
                                            <p class="lead">This website is a showcase exclusively for my
                                                architectural/property portfolio, and to illustrate to potential clients my
                                                competence in this field of photography.
                                            </p>
                                        </div>
                                        <div class="col-lg-4 mr-auto">
                                            <p class="lead">I possess the latest Nikon equipment to achieve excellent
                                                digital quality imagery, that compliment my compositional and lighting
                                                abilities.</p>
                                        </div>
                                    </div>

                                    <!-- Portfolio Grid Items -->
                                    <div class="row"></div>
                                    <!-- /.row -->

                                </div>
                            </section>

                            <!-- About Section -->
                            <section class="page-section bg-primary text-white mb-0" id="portfolio">
                                <div class="container">

                                    <!-- About Section Heading -->
                                    <h2 class="page-section-heading text-center text-uppercase text-white">Portfolio</h2>

                                    <!-- Icon Divider -->
                                    <div class="divider-custom divider-light">
                                        <div class="divider-custom-line"></div>
                                    <div <i class=""></i>
                                </div>
                                <div class=""></div>
                            </div>
                            <br>
                                <br>

                                    <!-- About Section Content -->

                                    <div class="row">
                                        <style>
                                            figure {
                                                text-align: center;
                                                margin: auto auto 30px;
                                            }
                                        </style>

                                        <figure class="col-md-3">
                                            <a href="" data-size="1600x1067">
                                                <img
                                                    alt="picture"
                                                    src="static/img/portfolio/catagories/catagorya.jpg"
                                                    class="img-fluid"></a>
                                            </figure>

                                            <figure class="col-md-3">
                                                <a href="" data-size="1600x1067">
                                                    <img
                                                        alt="picture"
                                                        src="static/img/portfolio/catagories/catagoryc.jpg"
                                                        class="img-fluid"/>
                                                </a>
                                            </figure>

                                            <figure class="col-md-3">
                                                <a href="" data-size="1600x1067">
                                                    <img
                                                        alt="picture"
                                                        src="static/img/portfolio/catagories/catagorycon.jpg"
                                                        class="img-fluid"/>
                                                </a>
                                            </figure>

                                            <figure class="col-md-3">
                                                <a href=" data-size=" 1600x1067"="1600x1067"">
                                                    <img
                                                        alt="picture"
                                                        src="static/img/portfolio/catagories/catagoryp.jpg"
                                                        class="img-fluid"/>
                                                </a>
                                            </figure>

                                        </div>

                                    </section>

                                    <!-- Portfolio Section -->
                                    <section class="page-section about" id="prices">
                                        <div class="container">

                                            <!-- Portfolio Section Heading -->
                                            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Prices</h2>

                                            <!-- Icon Divider -->
                                            <div class="divider-custom">
                                                <div class="divider-custom-line"></div>
                                                <div class="">
                                                    <i class=""></i>
                                                </div>
                                                <div class=""></div>
                                            </div>
                                            <br>
                                                <br>

                                                    <!-- About Section Content -->
                                                    <div class="row">
                                                        <div class="col-lg-4 ml-auto">
                                                            <p class="lead">This website is a showcase exclusively for my
                                                                architectural/property portfolio, and to illustrate to potential clients my
                                                                competence in this field of photography.
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-4 mr-auto">
                                                            <p class="lead">I possess the latest Nikon equipment to achieve excellent
                                                                digital quality imagery, that compliment my compositional and lighting
                                                                abilities.</p>
                                                        </div>
                                                    </div>

                                                    <!-- Portfolio Grid Items -->
                                                    <div class="row"></div>
                                                    <!-- /.row -->

                                                </div>
                                            </section>

                                            <!-- About Section Button -->

                                        </section>

                                        <!-- Contact Section -->
                                        <!-- About Section -->
                                        <section class="page-section bg-primary text-white mb-0" id="contact">
                                            <div class="container">

                                                <!-- About Section Heading -->
                                                <h2 class="page-section-heading text-center text-uppercase text-white">Contact Me</h2>

                                                <!-- Icon Divider -->
                                                <div class="divider-custom divider-light">
                                                    <div class="divider-custom-line"></div>
                                                <div <i class=""></i>
                                            </div>
                                            <div class=""></div>
                                        </div>
                                        <br>
                                            <br>

                                                <!-- About Section Content -->

                                            </div>
                                            <style>
                                                .center-form {
                                                    padding-top: 30px;
                                                    min-height: 240px;
                                                    margin: auto;
                                                    max-width: 70%;
                                                    text-align: center;
                                                }
                                            </style>
                                            <div class="center-form">
                                                <form onsubmit="return sendMail(this);" method="POST">
                                                    <input
                                                        type="text"
                                                        name="name"
                                                        class="form-control"
                                                        id="fullname"
                                                        placeholder="Name"
                                                        required="required"/>
                                                    <input
                                                        type="text"
                                                        name="emailaddress"
                                                        class="form-control"
                                                        id="emailaddress"
                                                        placeholder="Email"
                                                        required="required"/>
                                                    <textarea
                                                        rows="5"
                                                        name="projectsummary"
                                                        class="form-control"
                                                        id="projectsummary"
                                                        placeholder="Message"
                                                        required="required"></textarea>
                                                    <br>
                                                        <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>

                </section>

                <!-- Footer -->
                <footer class="footer text-center">
                    <div class="container">
                        <div class="row">

                            <!-- Footer Location -->
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <h4 class="text-uppercase mb-4">Location</h4>
                                <p class="lead mb-0">2215 John Daniel Drive
                                    <br>Clark, MO 65243</p>
                                </div>

                                <!-- Footer Social Icons -->
                                <div class="col-lg-4 mb-5 mb-lg-0">
                                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                                        <i class="fab fa-fw fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                                        <i class="fab fa-fw fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                                        <i class="fab fa-fw fa-linkedin-in"></i>
                                    </a>
                                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                                        <i class="fab fa-fw fa-dribbble"></i>
                                    </a>
                                </div>

                                <!-- Footer About Text -->
                                <div class="col-lg-4">
                                    <h4 class="text-uppercase mb-4">About Freelancer</h4>
                                    <p class="lead mb-0">Freelance is a free to use, MIT licensed Bootstrap theme created by
                                        <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                                </div>

                            </div>
                        </div>
                    </footer>

                    <!-- Copyright Section -->
                    <section class="copyright py-4 text-center text-white">
                        <div class="container">
                            <small>Copyright &copy; Your Website 2019</small>
                        </div>
                    </section>

                    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)
                    -->
                    <div class="scroll-to-top d-lg-none position-fixed ">
                        <a
                            class="js-scroll-trigger d-block text-center text-white rounded"
                            href="#page-top">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>

                {% endblock %}